.App-Window {
    width: 95% !important;
    max-width: 870px;
    margin: 100px auto;
}

.App-Window-side-pane {
    margin-right: 10px;
    max-width: 110px;
    text-align: center;
}

.App-Window__select-button {
    height: 55px;
    width: 110px;
}

.App-Window__hidden-item {
    display: none;
}

.App-Window-main-pane {
    overflow: auto;
}

.App-Window-card-canvas {
    width: 100%;
    height: auto;
    max-width: 239px;
    max-height: 239px;
    margin-left: 1px;
}

.App-Window-controls {
    margin-top: 50px;
}
.App-Window-controls svg {
    margin: 0 auto;
}