.App-Window {
    max-width: 870px;
    margin: 100px auto 0;
}

.App-Window__hidden-item {
    display: none;
}

.App-Window-original-canvas{
    width: 720px;
    height: 240px;
}

.App-Window-card-canvas{
    width: 240px;
    height: 240px;
    margin-left: 1px;
}

.App-Window__select-button {
    height: 55px;
    width: 110px;
}